configs:
- config:
    lldp:
      caps:
      - isOther
      - isRepeater
      - isBridge
      - isAP
      - isRouter
      - isTelephone
      - isDocsis
      - isStation
    macs:
    - 68d7.9a3c.2b3f
    name: either a specific mac or a set of lldp options
    states:
      linkup:
      - description specificOrLLDP
- config:
    lldp:
      caps:
      - isBridge
      - isAP
      - isRouter
      descriptions:
      - AP Manufacturer 1
    name: a set of lldp options and a specific description substring
    states:
      linkup:
      - description descriptionOrLLDP
- config:
    lldp:
      caps:
      - isBridge
      - isAP
      - isRouter
      names:
      - xyz123
    name: a set of lldp capabilities and a specific system name substring
    states:
      linkup:
      - description LLDPnameAndCapabilities
- config:
    lldp:
      caps:
      - isBridge
      - isAP
      - isRouter
      macs:
      - aabb.ccdd.eeff
    name: a set of lldp options and a specific mac or oui
    states:
      linkup:
      - description specificOrLLDP
- config:
    macs:
    - aaaa.aaaa.aaaa
    name: either a specific mac or oui
    ouis:
    - '7845.58'
    states:
      linkup:
      - description sepecific mac or oui
default:
  states:
    linkdown:
    - description default linkdown
    linkup:
    - description default linkup

