{
  "default": {
    "states": {
      "linkdown": [
        "description default linkdown"
      ],
      "linkup": [
        "description default linkup"
      ]
    }
  },
  "configs": [
    {
      "config": {
        "name": "either a specific mac or a set of lldp options",
        "macs": [
          "68d7.9a3c.2b3f"
        ],
        "lldp": {
          "caps": [
            "isOther",
            "isRepeater",
            "isBridge",
            "isAP",
            "isRouter",
            "isTelephone",
            "isDocsis",
            "isStation"
          ]
        },
        "states": {
          "linkup": [
            "description specificOrLLDP"
          ]
        }
      }
    },
    {
      "config": {
        "name": "a set of lldp options and a specific mac or oui",
        "lldp": {
          "caps": [
            "isBridge",
            "isAP",
            "isRouter"
          ],
          "macs": [
            "aabb.ccdd.eeff"
          ]
        },
        "states": {
          "linkup": [
            "description specificOrLLDP"
          ]
        }
      }
    },
    {
      "config": {
        "name": "either a specific mac or oui",
        "macs": [
          "aaaa.aaaa.aaaa"
        ],
        "ouis": [
          "7845.58"
        ],
        "states": {
          "linkup": [
            "description sepecific mac or oui"
          ]
        }
      }
    }
  ]
}
